.swiper-container {
  display: flex;
  flex-wrap: wrap;
  height: 520px;
  width: 360px;
}
.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}
.product-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product-caption {
  padding: 0 8px;
}
.product-name {
  display: -webkit-box;
  font-size: 14px !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-category {
  font-size: 12px;
}
.product-price {
  color: #f06292;
  font-size: 14px;
}